@import '../../colorPalette/variables.css';
@import '../../colorPalette/light.css';
@import '../../colorPalette/dark.css';


/* Small devices such as large phones (640px and up) */
/* Medium devices such as tablets (768px and up) */
/* Large devices such as laptops (1024px and up) */
/* Largest devices such as desktops (1280px and up) */

@media only screen and (max-width: 1000px) {
    .layout .header .buttons {
        display: none;
    }

    .layout .header .darkModeIcon {
        display: none;
    }

    .layout .header .menuIcon {
        height: 100%;
        margin: 0 15px;
        align-content: center;
    }

    .layout .header .menuIcon .MuiSvgIcon-root{
        color: var(--color-text-primary);
        font-size: xx-large;
    }

    .layout .menu {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        width: 30%;
        min-width: 250px;
        height: 100%;
        background-color: var(--color-primary);
    }
}

@media only screen and (max-width: 1000px) {
    .layout .footer .support {
        display: none;
    }
}

@media only screen and (min-width: 700px) and (max-width: 920px) {

}

@media only screen and (min-width: 1000px) {
    .layout .footer .support {
        padding-right: 2%;
        display: flex;
        gap: 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .layout .header .buttons {
        width: calc(70% - 30px);
        height: 45%;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        gap: 5%;
    }

    .layout .header .menuIcon {
        display: none;
    }

    .layout .header .darkModeToggle {
        width: 15%;
        height: 45%;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        gap: 10%;
    }

    .layout .header .dropdownMenu .divider{
        width: 100%;
        height: 10px;
        background-color: var(--color-primary);
    }

    .layout .header .darkModeToggle .darkModeIcon{
        float: right;
        color: var(--color-text-primary);
        width: 20%;
    }

    .layout .menu {
        display: none;
    }
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menuOpened {
    opacity: 50%;
}

.layout .body {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    background-color: var(--color-bg);
}

.layout .header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.layout .header .logoContainer {
    height: 100%;
    width: 15%;
    position: relative;
}

.layout .header .logo {
    position: absolute;
    height: 90%;
    margin: 3px 0;
}


.layout .header .languageSelector{
    background-color: var(--color-text-primary);
}

.layout .header .languageSelector .icon{
    color: var(--color-text-secondary);
}

.layout .header .languageSelector:hover .icon{
    color: var(--color-text-secondary);
    border-radius: 100%;
    background-color: var(--color-secondary);
}

.layout .header .languageSelector .lang{
    color: var(--color-text-secondary);
    margin-left: 10px;
}

.layout .footer {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.layout .copyright {
    margin: 0 2%;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.layout .copyright .copyrightLogo {
    color: var(--color-text-primary);
    margin-right: 5px;
}

.layout .copyright .copyrightText {
    color: var(--color-text-primary);
    margin-top: 3px;
}

.layout .copyright .socialNetworks{
    padding-left: 15px;
    display: flex;
    align-content: center;
    align-items: center;
}

.layout .footer .link {
    color: var(--color-link-primary);
}

.layout .MuiButtonBase-root{
    border-color: var(--color-text-primary);
    color: var(--color-text-primary);
}

.layout .MuiButtonBase-root:hover{
    background-color: var(--color-text-primary);
    color: var(--color-primary);
}

.layout .menu .buttons{
    height: calc(100% - 160px);
    width: calc(90% - 20px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
}

.layout .menu .topIcons{
    display: flex;
    height: 80px;
    width: calc(100% - 10px);
    align-items: center;
}

.layout .menu .topIcons .MuiSvgIcon-root{
    color: var(--color-text-primary);
    font-size: xxx-large;
    margin-left: auto;
    margin-right: 0;
}

.layout .menu .buttons .MuiButtonBase-root{
    text-align: center;
    width: 100%;
}

/* Global styles */
.link {
    color: var(--color-link);
}

.MuiTypography-h2 {
    display: flex;
    flex-wrap: wrap;
}
