@import '../../colorPalette/variables.css';
@import '../../colorPalette/light.css';
@import '../../colorPalette/dark.css';

@media only screen and (max-height: 559px){
    .layout .menu .buttons{
        height: calc(75% - 160px);
    }

    .layout .menu .languageSelector{
        height: 25%;
    }
}

@media only screen and (min-height: 560px){
    .layout .menu .buttons{
        height: calc(60% - 160px);
    }

    .layout .menu .languageSelector{
        height: 40%;
    }
}

@media only screen and (max-width: 374px) {
    .layout .header .languageSelector{
        display: none;
    }

    .layout .menu .languageSelector{
        width: 100%;
        color: var(--color-text-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3%;
    }

    .layout .menu .languageSelector .language{
        text-align: center;
        cursor: pointer;
        width: 50%;
        border-radius: 20px;
    }

    .layout .menu .languageSelector .language:hover{
        background-color: var(--color-secondary);
        color: var(--color-text-secondary);
    }
}

@media only screen and (min-width: 375px) {
    .layout .menu .languageSelector{
        display: none;
    }

    .layout .menu .buttons{
        height: calc(100% - 160px);
    }

    .layout .header .languageSelector{
        background-color: var(--color-text-primary);
    }

    .layout .header .languageSelector .icon{
        color: var(--color-text-secondary);
    }

    .layout .header .languageSelector:hover .icon{
        color: var(--color-text-secondary);
        border-radius: 100%;
        background-color: var(--color-secondary);
    }

    .layout .header .languageSelector .lang{
        color: var(--color-text-secondary);
        margin-left: 10px;
    }
}

@media only screen and (max-width: 999px) {
    .layout .header .buttons {
        display: none;
    }

    .layout .header .darkModeIcon {
        display: none;
    }

    .layout .header .menuIcon {
        height: 100%;
        margin: 0 15px;
        align-content: center;
    }

    .layout .header .menuIcon .MuiSvgIcon-root{
        font-size: xx-large;
    }

    .layout .menu {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        width: 30%;
        min-width: 250px;
        height: 100%;
        background-color: var(--color-primary);
    }

    .layout .footer .support {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .layout .header .buttons {
        width: calc(70% - 30px);
        height: 45%;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        gap: 5%;
    }

    .layout .header .menuIcon {
        display: none;
    }

    .layout .header .darkModeToggle {
        width: 15%;
        height: 45%;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        gap: 10%;
    }

    .layout .header .dropdownMenu .divider{
        width: 100%;
        height: 10px;
        background-color: var(--color-primary);
    }

    .layout .header .darkModeToggle .darkModeIcon{
        float: right;
        width: 20%;
    }

    .layout .footer .support {
        padding-right: 2%;
        display: flex;
        gap: 10px;
    }

    .layout .menu {
        display: none;
    }
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menuOpened {
    opacity: 50%;
}

.layout .body {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    background-color: var(--color-bg);
}

.layout .header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.layout .header .logoContainer {
    height: 100%;
    width: 15%;
    position: relative;
}

.layout .header .logo {
    position: absolute;
    height: 90%;
    margin: 3px 0;
}

.layout .footer {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.layout .copyright {
    margin: 0 2%;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.layout .copyright .copyrightLogo {
    color: var(--color-text-primary);
    margin-right: 5px;
}

.layout .copyright .copyrightText {
    color: var(--color-text-primary);
    margin-top: 3px;
}

.layout .copyright .socialNetworks{
    padding-left: 15px;
    display: flex;
    align-content: center;
    align-items: center;
}

.layout .footer .link {
    color: var(--color-link-primary);
}

.layout .MuiButtonBase-root{
    border-color: var(--color-text-primary);
    color: var(--color-text-primary);
}

.layout .MuiButtonBase-root:hover{
    background-color: var(--color-text-primary);
    color: var(--color-primary);
}

.layout .menu .topIcons{
    display: flex;
    height: 80px;
    margin: 0 10px;
    width: calc(100% - 20px);
    align-items: center;
}

.layout .menu .topIcons .closeMenuIcon{
    margin-left: auto;
    margin-right: 0;
}

.layout .menu .topIcons .closeMenuIcon .MuiSvgIcon-root{
    font-size: xx-large;
}

.layout .menu .buttons{
    width: calc(90% - 20px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
}


.layout .menu .buttons .MuiButtonBase-root{
    text-align: center;
    width: 100%;
}

/* Global styles */
.link {
    color: var(--color-link);
}

.MuiTypography-h2 {
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: var(--color-secondary);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--color-secondary);
}
