@media only screen and (max-width: 499px) {
    .about .buttons{
        flex-direction: column;
    }
}

@media only screen and (min-width: 500px) {
    .about .buttons{
        flex-direction: row;
    }
}

@media only screen and (max-width: 649px) {
    .about .picture{
        width: 80%;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1499px){
    .about .picture{
        width: 50%;
    }
}

@media only screen and (max-width: 1199px) {
    .about .titleAndOrnaments{
        justify-content: center;
        margin-bottom: 25px;
    }

    .about .titleAndOrnaments .ornament{
        display: none;
    }

    .about .buttons{
        gap: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .about .titleAndOrnaments{
        align-items: flex-start;
        justify-content: space-between;
    }

    .about .buttons{
        gap: 200px;
    }
}

@media only screen and (max-width: 1499px) {
    .about .globalPresentation{
        flex-direction: column;
        justify-content: center;
    }

    .about .globalPresentation .text{
        flex: 1;
        order: 2;
        max-width: 80%;
        margin: 50px 0;
    }

    .about .globalPresentation .picture{
        flex: 1;
        order: 1;
    }

    .about .backgroundPresentation{
        flex-direction: column;
        justify-content: center;
    }

    .about .backgroundPresentation .text{
        flex: 1;
        order: 1;
        max-width: 80%;
    }

    .about .backgroundPresentation .picture{
        flex: 1;
        order: 2;
        margin: 50px 0;
    }

    .about .resumeIntegration .MuiTypography-root{
        margin: 0 10%;
    }
}

@media only screen and (min-width: 1500px) {
    .about .globalPresentation{
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
        margin-bottom: 50px;
    }

    .about .globalPresentation .text{
        max-width: 50%;
        margin-left: 10%;
    }

    .about .globalPresentation .picture{
        margin-right: 10%;
    }

    .about .backgroundPresentation{
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
        margin-bottom: 50px;
    }

    .about .backgroundPresentation .text{
        max-width: 50%;
        margin-right: 10%;
    }

    .about .backgroundPresentation .picture{
        margin-left: 10%;
    }

    .about .resumeIntegration .MuiTypography-root{
        margin: 0 20%;
    }
}


.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: auto;
}

.about .titleAndOrnaments{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.about .titleAndOrnaments .ornament{
    width: 25%;
}

.about .divider{
    min-height: 5px;
    width: 60%;
    background-color: var(--color-secondary);
    opacity: 50%;
    margin-bottom: 50px;
}

.about .buttons{
    display: flex;
    margin: 50px 0;
}

.about .buttons .MuiButton-root{
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}

.about .buttons .MuiButton-root:hover{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

.about .title{
    min-height: calc(20% - 20px);
    color: var(--color-text);
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 25px 0;
}

.about .globalPresentation{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.about .globalPresentation .text{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.about .backgroundPresentation{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.about .backgroundPresentation .text{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.about .picture{
    cursor: zoom-in;
}

.about .resumeIntegration{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.about .resumeIntegration .MuiTypography-root{
    color: var(--color-text);
}

.about .resumeIntegration .resume{
    border: var(--color-secondary) solid 2px;
    cursor: zoom-in;
}

.about .endingSpace{
    min-height: 5px;
    width: 100%;
    margin-top: 45px;
}
