@media only screen and (max-width: 599px) {
    .homepage .buttons{
        flex-direction: column;
        width: fit-content;
    }

    .homepage .portrait {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .homepage .buttons{
        flex-direction: row;
        min-width: 500px;
    }
}

@media only screen and (max-width: 829px) {
    .background {
        display: none;
    }

    .smallBackground {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit:  cover;
        opacity: 30%;
    }

    .homepage {
        flex-direction: column;
        height: 100%;
    }

    .homepage .presentation{
        flex: 1;
        order: 2;
        width: calc(100% - 100px);
        height: 40%;
        margin: 0 50px 10% 50px;
    }

    .homepage .portrait {
        flex: 1;
        order: 1;
        height: 45%;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 830px) {
    .smallBackground {
        display: none;
    }

    .homepage {
        flex-direction: row;
    }

    .homepage .presentation {
        color: var(--color-text);
        align-items: center;
        align-content: center;
        margin-left: 10%;
        width: 50%;
    }

    .homepage .portrait {
        margin-right: 10%;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1299px) {
    .homepage .portrait {
        height: 50%;
        max-width: 40%;
    }
}

@media only screen and (min-width: 1300px) {
    .homepage .portrait {
        height: 70%;
    }
}

.backgroundDiv {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
}

.homepage {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
}

.homepage .presentation {
    color: var(--color-text);
    align-items: center;
    align-content: center;
}

.homepage .portrait {
    object-fit: contain;
}

.homepage .buttons{
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.homepage .buttons .MuiButton-root{
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
    white-space: nowrap;
}

.homepage .buttons .MuiButton-root:hover{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}
