@font-face {
    font-family: 'Vina Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/vina-sans-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/mina-v13-latin-regular.woff2') format('woff2');
}
