:root, .light {
    --color-bg: #E8ECE4;
    --color-bg-semi-opaque: rgba(232,236,228,0.4);
    --color-primary: #3e4e50;
    --color-secondary: #9ec1a3;
    --color-text: #343333;
    --color-text-primary: #F2F0F2;
    --color-text-secondary: #3e4e50;
    --color-text-error: #820000;
    --color-link: #3e4e50;
    --color-link-primary: #cfe0c3;
    --color-link-secondary: #cfe0c3;
    --color-projects-bg-pattern: rgba(7,48,54,0.05);
}

.dark {
    --color-bg: #3e4e50;
    --color-bg-semi-opaque: rgba(62,78,80,0.4);
    --color-primary: #073036;
    --color-secondary: #9ec1a3;
    --color-text: #F2F0F2;
    --color-text-primary: #F2F0F2;
    --color-text-secondary: #073036;
    --color-text-error: #ffe967;
    --color-link: #cfe0c3;
    --color-link-primary: #cfe0c3;
    --color-link-secondary: #cfe0c3;
    --color-projects-bg-pattern: rgba(158,193,163,0.05);
}
